:root {
    --bg-purple:#8647FB;
    --blue:#003C71;
    --border-grey:#bbbbbb;
    --link:#0099d8;
    --footer-bg: #CCD5E4;
    --white-text:#fff;
    --label-color:#737373;
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  
}
/*
GOLABAL STYLE START HERE
------------------------*/

.overflow-y{
   overflow-y: hidden;
}

.red-bg{
    background-color:#e74c38;
}
img{
    height: auto;
    /* max-width: 100%; */
}
.text-blue, a.text-blue{
    color:#5E74E6!important;
}
.blue-bg{
   background: #0057a4!important;
}
.light-blue-bg-tranc.light-blue-bg{
   background:rgba(0, 153, 216, .9); 
}
.white-bg-tranc{
   background:rgba(255, 255, 255, .8); 
}

a{
    color: var (--link);
    text-decoration: none!important;
}
.white-bg{
    background: #fff!important;
}
.light-gray{
    background-color:#6a6d73;
}

table {
    color:#003553;
}

textarea {
    resize: none
}

.overlay{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 990;
    background:rgba(0, 0, 0, .8);
    display: none;
}
.wrapper {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow-x: hidden;
}

/**VERTICAL ALIGN WITH EQUAL HEIGHT COLUMN**/
flex-row,
.flex-row{
    display: flex;             /* primary flex container */
    flex-direction: row;       /* horizontal alignment of flex items
                                      (default value; can be omitted) */
    align-items: stretch;       /* will apply equal heights to flex items
                                      (default value; can be omitted) 
   /* height: 100%;*/
}

/**VERTICAL ALIGN WITH EQUAL HEIGHT COLUMN END**/

button:focus{
    outline:none;
}
button{
    cursor: pointer;
}
input[type="submit"]{
    background-color: #fff;
    cursor: pointer;
}
.rounded-r{
    border-radius: 0 50% 50% 0!important;
}

/**BUTTON STYLE END HERE**/

/**CAROUSEL STYLE START HERE**/

.top-hdr {
    border-bottom: 1px solid #fff;
}

.dropdown-submenu li{
    border-bottom: 1px solid #fff;
}
.dropdown-submenu li:last-child{
    border: 0;
}
li{
    list-style: none;
}
.btn-style,
.btn{
    background-color:var(--bg-purple);
    padding: .4rem .8rem;
    border: 1px solid var(--bg-purple);;
    border-radius: 8px;
}
button.btn:hover{
    color: rgb(211, 210, 210)!important;
    transition: .5s all ease;
    -webkit-transition: .5s all ease;

}
.logo {
    max-width: 155px;
    height: auto;
}

.login-page{
    height: 100vh;
}

.form-wrapper label{
    font-size:.85rem;
    color: var(--label-color);
    margin-bottom: .3rem;
    font-weight: 500;
}
.form-wrapper .form-control{
    font-size: 1rem;
    background-color: #f9faff;
    border: 1px solid #e0e7ff;
    border-radius: 4px;
}

.border-b{
    border-bottom: 2px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #bbbbbb;
}
.login-heading{
    color:var (--blue);
    font-weight: normal;
}

h1{
    font-size: 2.81rem;
}
h2{
    font-size: 2.6rem;
}
h3{
    font-size:1.5rem;
}

.blue-color{
    color: #009de0;
}
.text-uppercase{
    text-transform: uppercase;
}
.logo-position{
    padding-left: 150px;
    box-sizing: border-box;
    position: absolute;
    left: -150px;
    top: 50%;
    z-index: 999;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.header{
    background-size: 69% 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    min-height: 67px;
    background-color: #fff;
    border-top: 5px solid #616161;

}

.header ul li{
    font-size: .85rem;
}
.header ul li a{
    color: #fff;
}
.btn-trans{
    background: transparent;
    border-width: 0;
    outline: none;
}
.text-white{
    color: #fff!important;
}
.btn{
    background-color: var(--bg-purple);
    color: white;
    border-radius: 5px!important;
    border-width: 0;
    font-size: .9rem;
    text-transform: uppercase;
}
.btn i{
    font-size: .8rem;
   
}
.pr-1{
    padding-right: .8rem;
}
.pr-2{
    padding-right: 1.2rem;
}
.pr-3{
    padding-right: 1.6rem;
}
.pr-4{
    padding-right: 2.3rem;
}
.serach-bg{
    background-color:#F2F3F4;
    height: 100vh;
}
.footer-bg{
    background-color: var(--footer-bg);
    position: relative;
    /* left: 0;
    bottom: 0; */
    /* width: 100%; */
}
.position-relative i{
    position: absolute;
    top: 13px;
    right: 10px;
    z-index: 200;
    font-size: .85rem;
    cursor: pointer;
}
.top-strip{
background-color: #F6F6F6;
}
.top-strip label{
    font-size: .8rem!important;
    font-weight: 600;
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #737373;
}

.accordion-button:not(.collapsed){
    background-color:#6638b6!important;
    color: #fff!important;
}
.table > thead {
    vertical-align: bottom;
    background-color: #dde5e5;
}

/**Main Style start here**/

.user-thumb{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #d5d5d5;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
}
.user-wrap{
    position: relative;
}
.user-wrap::after{
    height: 47px;
    position: absolute;
    width: 2px;
    content: "";
    right: 0;
    top: 10px;
    background-color: #dfdfdf;
}
.braedcrumb {
    background-color:#f6f6f6;
    border: 1px solid #d3d3d1;
    min-height:35px;
    border-width: 1px 0px;
}

.braedcrumb ul{
    padding: 0;
    margin: 0;
}
.braedcrumb ul li{
    display: inline-block;
    font-size: .8rem;
   
    color: #b5b5b5;
    position: relative;
}
.braedcrumb ul li a{
    padding: 6px 12px;
    color: #b5b5b5;
}
.braedcrumb li::after{
    position:absolute;
    content: "";
    right: 0;
    top: 0;
    width: 1px;
    height: 15px;
    background-color: #c6c6c6;
    transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
}

.ques-block-wrap.item .title{
    font-size: 13px;
    color:#5E74E6;
    border-color:#5E74E6!important ;
}
.ques-block-wrap.item ul {
   padding: 0;
   display: flex;
}
.ques-block-wrap.item ul li{
    font-size: 11px;
    color:#616161;
    display: inline-block;
    padding: 5px 6px;
    position: relative;
}
.ques-block-wrap.item ul li:last-child::after{
    display: none;
}
.ques-block-wrap.item ul li::after{
    position: absolute;
    content: "";
    right: 0;
    top: 5px;
    width: 1px;
    height: 80%;
    background-color: #d7d7d7;
}
/* .ques-block{
    background-color: #FCFCFC;
    border-color: #D4D4D4;
} */
.owl-nav {
    position: absolute;
    top: -10px;
    width: 100%;
}
button.owl-prev {
    position: absolute;
    left: -1%;
}
button.owl-next {
    position: absolute;
    right: 0%;
}
.owl-dots{
    display: none;
}
.owl-carousel button.owl-prev,
.owl-carousel button.owl-next{
    width: 20px;
    height: 20px;
    background-image: url(../src/assets/images/chevron-left.png)!important;
    background-repeat: no-repeat!important;
    background-color: #4923d4!important;
    border-radius: 50%!important;
    text-align: center;
    background-position: center!important;

}
.owl-carousel button.owl-next{
    background-image: url(../src/assets/images/chevron-left.png)!important;
}
.owl-carousel button.owl-prev.disabled,
.owl-carousel button.owl-next.disabled{
    background-color:#878787!important;
}
.owl-carousel button.owl-prev span,
.owl-carousel button.owl-next span{
    display: none;
}
.risk-btn, .btn{
    min-height: 32px;
    min-width: 88px;
    padding:6px 12px;
    background-color: #F5F5F5; 
    border-radius: 16px!important;
    outline: none;
    border: none;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
}
.heigh-risk{
    background-color:#F6B84C;
}
.very-high-risk{
    background-color:#F38E95;
}
.low-risk{
    background-color:#85DAFE;
}
.very-low-risk{
    background-color:#B5DFC6;
}
.green-peech{
    color: #7DBF98!important;
}
.icon-gray{
    color: #878787;
}
.left-ques-sec{
    background-color: #F3F5FF;
    border-bottom: 1px solid #EBEBEB;
}
.left-ques-sec span{ 
    font-size: 12px;
    line-height: 1.3;
    display: block;
}
table.table.border-top-0 td{
    border-top:0px!important;
}
.lighter{
    font-weight: 400;
}
.title-color{
    color: #081764;
}
.download,
.reload,
.medium-f{
    font-size: 14px;
    color:#616161;
}
.text-light{
    color: #D4D4D4!important;
}
.nav-tabs {
    border-width: 0px!important;
}

.nav-tabs .nav-link{
    border-width: 0px!important;
    color: #878787;
}
.nav-tabs .nav-link.active{
    border-width: 0px!important;
    border-bottom: 2px solid #000!important;
    color: #000;
    font-weight: 600;
    position: relative;
}
.nav-tabs .nav-link.active::after{
    background-color: #5E74E6;
    height: 5px;
    position: absolute;
    bottom: -2px;
    width: 100%;
    content: "";
    left: 0;
}
.nav-tabs .nav-link{
    border-bottom: 2px solid rgb(190, 190, 190)!important;
}
.content-ariea {
    max-height: 51.5vh;
    overflow-y: auto;
}
.footer-bg span{
    font-size: 13px;
    color: #616161;
}
.risk-profile i{
    color:#548A6A;
}
.risk-profile{
    border-color:#5E74E6;
}

.Collapsible__trigger {
    display: block;
    background-color:#EBF4F6;
    color: #616161;
    padding: 6px 12px!important;
    border-radius: 8px 8px 0 0;
    min-height: 40px;
}

.accordion-heading a{
    color:#616161;
    font-weight: 500;
}
.card-header {
    padding: 0.5rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.accordion-inner{
    background-color:#FCFCFC;
}
.accordion .card:first-of-type{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.form-check-label {
    margin-bottom: 0;
    font-size: 14px;
    color: #878787;
}

.custom-control-input {
    margin-right: 10px !important;
}


.custom-control .custom-control-input:focus{
    box-shadow: none!important;
}
.custom-radio .custom-control-input:checked ~ .custom-control-input:focus { 
    box-shadow: none!important;
}
.custom-radio.high .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #F6B84C;
}
.custom-radio.very-high .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #F38E95;
}
.custom-radio.low .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #76B5CF;
}
.custom-radio.very-low .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #7DBF98;
}
.custom-radio.none .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #444444;
}

.custom-radio.high .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #F6B84C;
}
.custom-radio.very-high .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #F38E95;
}
.custom-radio.low .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #76B5CF;
}
.custom-radio.very-low .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #7DBF98;
}
.custom-radio.none .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #444444;  
}

.custom-radio.high .custom-control-input:checked ~ .custom-control-label {
    color: #F6B84C;
}
.custom-radio.very-high .custom-control-input:checked ~ .custom-control-label{
    color: #F38E95;
}
.custom-radio.low .custom-control-input:checked ~ .custom-control-label{
    color: #76B5CF;
}
.custom-radio.very-low .custom-control-input:checked ~ .custom-control-label{
    color: #7DBF98;
}
.custom-radio.none .custom-control-input:checked ~ .custom-control-label{
    color: #444444;  
}
.custom-radio .custom-control-label::before {
    background-color: #fff!important;
    border: 1px solid #B4B4B4;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    width: 8px;
    height: 8px;
    background-color: #ccc;
    border-radius: 50%;
    top: 8px;
    left: -20px;
    background-image: none;
}
.custom-radio .custom-control-label::before {
    background-color: #fff;
    border: 1px solid #B4B4B4;
}

.custom-control-label {
    color: #878787;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
}
.card-header,
.card{
border-width: 0px;
}
.card-header{
    color: #616161;
}
.default-btn{
    color:#5E74E6;
}
.cancel{
    background-color:#B4B4B4;
}
.save{
    background-color:#7DBF98;
}
.popover-custome{
    width: 550px;
    /* position: absolute; */
    /* z-index: 999; */
    padding: 10px 20px;
    /* display: none; */
}
.__react_component_tooltip.show {
  opacity: 1 !important;
}

.popover-custome.ques-block p {
    font-size: 12px;
    line-height: 1.2;
    color:#616161;
    margin-bottom: 0;
}
.popover-custome.ques-block p .text-light {
    color:#B4B4B4!important;
}
.d-none{
    display: none!important;
}
.modal-header{
    background-color:#565656;
    padding:8px 15px!important;
    color: #fff;
}
.close{
    color: #fff;
}
.modal-content{
    border-width: 0px;
}
.modal-body p{
    color:#878787;
    font-size: 14px;
}
h6{
    font-size: 14px;
}
.dash-title{
    margin-top:28px!important;
    border-top: 1px solid #5E74E6;
}